.wrapper{
padding-top: 60px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pinInputCircles {
  display:flex;
  flex-flow:row;
  justify-content:center;
  grid-gap:30px;
  color: var(--text);
}
.pinInputItem{
  width:20px;
  height:20px;
  border-radius:50px;
  border:2px solid var(--text);
  text-align: center;
}
.keypad{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  display: grid;
  padding: 30px;
  max-width: 400px;
  margin: 0 auto;
  gap: 30px;
}
.keyPadButton{
  background-color: gray;
  border-radius: calc(var(--spacer) * 3);
  width: calc(var(--spacer) * 6);
  height: calc(var(--spacer) * 6);
  border: none;
  color: #e0dada;
  cursor: pointer;
}
.numbers{
  font-size: 35px;

  margin: 0;
  padding: 0;
}
.chars{
  font-size: 10px;
  margin: 0;
  padding: 0;
}
.zero {
  grid-column-start: 2;
}
.keyPadButton:hover{
  background-color: #575555;
}
.keyPadButton:active{
  background-color: #999494;
}
.fillItem {
  background-color: var(--text);
}
.error {
  color: #e50505;
}
.enterPin {
  color: #e0dada;
}
.infoBlock{
  height: 50px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}